@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0%;
  background-color: #232732;
}

nav .links{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 40px;
  text-align: center;
}

nav .links a{
  text-decoration: none;
  color: #ffffff;
  background-color: #24272C;
  box-shadow: -2px -2px 3px #88888888;
  border-radius: 20px;
  padding: 10px;
  font-family: "Poppins";
  font-size: 15px;
  width: 100px;
}

nav .links a:hover{
  background-color: #7733FF;
}


header{
  color: #ffffff;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 90px;
}

header .texts{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

header .texts #head{
  font-size: 30px;
  font-weight: light;
  padding-bottom: 10px;
}

header .texts #bold{
  font-size: 50px;
  font-weight: 700;
  font-style: bold;
}

header .texts #light{
  font-size: 30px;
  font-weight: 400;
  font-style: medium;
}

header .texts #light #extra{
  color: red;
}

header .texts small{
  font-weight: 250;
  font-size: 15px;
  padding-top: 15px;
}

header .btn{
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

header .btn span:hover{
  background-color: #7733FF;
}

header .btn span{
  box-shadow: -2px -2px 3px #88888888;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
}

header img {
  box-shadow: -3px -2px 20px #88888888;
  border-radius: 250px;
  width: 350px;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  gap: 7rem;
}

section img{
  box-shadow: -3px -2px 20px #88888888;
  border-radius: 30px;
  width: 350px;
}

section .texts{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  gap: 2rem;
}

section .texts #first{
  font-size: 25px;
  font-weight: 400;
  font-style: medium;
}

section .texts #second{
  font-size: 15px;
  font-weight: 250;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .pjs{
  margin-top: 150px;
}

main .pjs span{
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  font-style: medium;
  font-family: "Poppins";
}

main .pjs .lines{
  display: flex;
  margin-top: 10px;
}

main .pjs .lines .first-line{
  border: 3px solid #7733FF;
  border-radius: 5px;
  width: 600px;
} 

main .pjs .lines .second-line{
  border: 3px solid #F7A21E;
  border-radius: 5px;
  width: 290px;
}

main .btns{
  display: flex;
  text-align: center;
  padding: 40px;
  gap: 150px;
} 

main .btns span{
  color: #ffffff;
  background-color: #24272C;
  box-shadow: -2px -2px 3px #88888888;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: "Poppins";
  font-size: 15px;
  width: 150px;
}

main .btns span:hover{
  background-color: #7733FF;
}

main .btns #first{
  background-color: #7733FF;
}

main .btns #second{
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}

main .content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  margin-top: 4rem;
}

main .images{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

main .images .img-1{
  box-shadow: -3px -2px 10px #88888888;
  border-radius: 200x;
}

main .images .img-2{
  box-shadow: -3px -2px 10px #88888888;
  border-radius: 200px;
}

main .images .img-3{
  box-shadow: -3px -2px 10px #88888888;
  border-radius: 200px;
}

main .box{
  border-radius: 7px;
  box-shadow: -3px -2px 10px #88888888;
  padding: 2rem;
  display: flex;  
  flex-direction: column;
  gap: 1rem;
}

main .box .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  color: #ffffff;
  gap: .5rem;
}

main .box .text #first{
  font-size: 20px;
  font-weight: 500;
  font-style: semi-bold;
}

main .box .text #second{
  font-size: 15px;
  font-weight: 250;
  text-align: center;
}

main .box .img-5{
  display: flex;
  justify-content: center;
}

.skill{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.skill .ski span{
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  font-style: medium;
  font-family: "Poppins";
  position: relative;
  left: 52.5rem;
}

.skill .ski .lines{
  display: flex;
  margin-top: 10px;
}

.skill .ski .lines .first-line{
  border: 3px solid #7733FF;
  border-radius: 5px;
  width: 600px;
} 

.skill .ski .lines .second-line{
  border: 3px solid #F7A21E;
  border-radius: 5px;
  width: 290px;
}

.skill .ski .btns span{
  color: #ffffff;
  background-color: #7733FF;
  box-shadow: -2px -2px 3px #88888888;
  border-radius: 20px;
  padding: 10px 45px;
  font-family: "Poppins";
  font-size: 15px;
  width: 150px;
  position: relative;
  left: 23.5rem;
  top: 3rem;
}

.skill .images{
  display: flex;
  align-items: center;
  gap: 15rem;
  padding-top: 6rem;
}

.skill .images .img-1 img{
  width: 40px;
}

.skill .images .img-2 img{
  width: 300px;
  border-radius: 200px;
}

.skill .images .img-3 img{
  width: 40px;
}

.certs{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.certs .cert span{
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  font-style: medium;
  font-family: "Poppins";
}

.certs .cert .lines{
  display: flex;
  margin-top: 10px;
}

.certs .cert .lines .first-line{
  border: 3px solid #7733FF;
  border-radius: 5px;
  width: 600px;
} 

.certs .cert .lines .second-line{
  border: 3px solid #F7A21E;
  border-radius: 5px;
  width: 290px;
}

.certs .images{
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 3rem;
}

.certs .images .img-1 img{
  width: 200px;
  height: 150px;
}

.certs .images .img-2 img{
  width: 400px;
  height: 300px;
}

.certs .images .img-3 img{
  width: 200px;
  height: 150px;
}

article{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}

article .exp span{
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  font-style: medium;
  font-family: "Poppins";
  position: relative;
  left: 47.5rem;
}

article .exp .lines{
  display: flex;
  margin-top: 10px;
}

article .exp .lines .first-line{
  border: 3px solid #7733FF;
  border-radius: 5px;
  width: 600px;
} 

article .exp .lines .second-line{
  border: 3px solid #F7A21E;
  border-radius: 5px;
  width: 290px;
}

article .btns{
  display: flex;
  text-align: center;
  padding: 8rem;
  gap: 150px;
} 

article .btns span{
  color: #ffffff;
  background-color: #24272C;
  box-shadow: -2px -2px 3px #88888888;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: "Poppins";
  font-size: 15px;
  width: 150px;
}

article .btns span:hover{
  background-color: #7733FF;
}

article .btns #first{
  background-color: #7733FF;
}

article .texts{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  gap: 20rem;
} 

article .texts .text-1{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  gap: 5px;
}

article .texts .text-1 #first{
  font-size: 20px; 
  font-weight: 400;
  font-style: medium;
}

article .texts .text-1 #second{
  font-size: 15px;
  font-weight: 250;
}

article .texts .text-1 #third{
  font-size: 10px;
  font-weight: 250;
  padding-top: 7px;
}

article .texts .text-2{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  gap: 5px;
}

article .texts .text-2 #fourth{
  font-size: 20px;
  font-weight: 400;
  font-style: medium;
}

article .texts .text-2 #fifth{
  font-size: 15px;
  font-weight: 250;
}

article .texts .text-2 #sixth{
  font-size: 10px;
  font-weight: 250;
  padding-top: 7px;
}

article .texts .text-1{
  border: 2px solid #24272C;
  box-shadow: -3px -2px 10px #88888888;
  border-radius: 20px;
  padding: 1rem;
}
article .texts .text-2{
  border: 2px solid #24272C;
  box-shadow: -3px -2px 10px #88888888;
  border-radius: 20px;
  padding: 1rem;
  position: relative;
  top: 20rem;
}

/* vertical line */
article .texts::before {
  content: "";
  position: absolute;
  top: 265rem;
  left: 50%;
  width: 3px;
  height: 700px;
  background-color: #363636CC;
}

article .img-1 img{
  position: absolute;
  top: 297rem;
  right: 37.7rem;
  z-index: 1;
  border: 2px solid #2C2F38;
  border-radius: 50px;
  box-shadow: -2px -2px 3px #88888888;
  padding: 10px;
  width: 30px;
}
article .img-2 img{
  position: absolute;
  top: 277.5rem;
  right: 37.7rem;
  z-index: 1;
  border: 2px solid #2C2F38;
  border-radius: 50px;
  box-shadow: -2px -2px 3px #88888888;
  padding: 10px;
  width: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 28rem;
  align-items: center;
}

footer .cont span{
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  font-style: medium;
  font-family: "Poppins";
}

footer .cont .lines{
  display: flex;
  margin-top: 10px;
}

footer .cont .lines .first-line{
  border: 3px solid #7733FF;
  border-radius: 5px;
  width: 600px;
} 

footer .cont .lines .second-line{
  border: 3px solid #F7A21E;
  border-radius: 5px;
  width: 290px;
}

footer address{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  padding-top: 8rem;
}

footer address .img img{
  box-shadow: -3px -2px 20px #88888888;
  border-radius: 30px;
  width: 250px;
  padding-top: 12px;
  padding-left: 37px;
  padding-right: 37px;
}

footer address form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer address form input{
  box-shadow: -2px -2px 3px #88888888;
  background-color: #24272C;
  border: none;
  border-radius: 8px;
  padding: 20px;
  padding-right: 11rem;
}

footer address form textarea{
  box-shadow: -2px -2px 3px #88888888;
  background-color: #24272C;
  border: none;
  border-radius: 8px;
  padding: 20px;
  padding-right: 3rem;
  padding-bottom: 25px;
}

footer address form .btn{
  position: relative;
  left: 9rem;
  top: 1rem;
}

footer address form .btn button{
  box-shadow: -2px -2px 3px #88888888;
  background-color: #24272C;
  border: none;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  width: 100px;
}